body {
    margin: 0;
    padding: 0;
    background-color: #07090B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.navbar .logo {
    height: 60px;
    margin-left: 50px;
}

/* NAVBAR LIST */

.navbar ul,
.det ul {
    display: flex;
    list-style: none;
    width: 90%;
}

.navbar ul li,
.det ul li {
    padding: 35px;
    font-size: 20px;
}

.navbar ul li a,
.det ul li a {
    color: #F2F2F2;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar ul li a::after,
.det ul li a::after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #E50914;
    transition: width .3s ease-in-out;
}

.navbar ul li a:hover:after,
.navbar ul li a:focus:after,
.det ul li a:focus::after,
.det ul li a:hover::after {
    width: 100%;
}


/* SEARCH BAR */
.search {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.search input {
    display: block;
    width: 350px;
    height: 35px;
    box-sizing: border-box;
    background-color: #07090B;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #F2F2F2;
    font-size: 17px;
    padding-left: 40px;
}

.search input:focus {
    outline: none;
}

.search img {
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    position: absolute;
    top: -8px;
    left: -10px;
}

/* PROFILE AND NOTIFICATION SIDE */
.right-side {
    display: flex;
}

.right-side .bell {
    width: 45px;
    height: 45px;
    margin: 35px 10px;
}

.right-side .profile {
    width: 45px;
    height: 45px;
    margin: 35px;
    border-radius: 10px;
}

/* BOXES */

.boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 440px;
    color: #F2F2F2;
}

.box {
    display: flex;
    width: 440px;
    min-width: 350px;
    height: 200px;
    margin: 10px 20px 10px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.box img {
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(0.8px) grayscale(30%);
    border-radius: 10px;
    transition: scale .3s;
    cursor: pointer;
}

.box h2 {
    position: absolute;
    z-index: 1;
    font-size: 28px;
    font-weight: 500;
}

.box:hover img {
    scale: 1.05;
}

/* CATEGORIES */

.categorie-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.cButton {
    margin: 10px 20px;
    width: 120px;
    background-color: transparent;
    padding: 8px;
    border-radius: 5px;
    color: #f2f2f27b;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: border .5s;
    font-size: 14px;
}

.cButton:hover,
.cButton:focus {
    border: 1px solid #E50914;
}

.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    height: 100vh;
}

.movie {
    position: relative;
    display: flex;
    margin: 35px;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    color: #F2F2F2;
}

.movie .poster {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    filter: blur(0.8px) grayscale(30%);
    border-radius: 10px;
    transition: scale .3s;
    cursor: pointer;
}

.movie .play {
    position: relative;
    width: 70px;
    height: 70px;
    top: 0%;
    left: 0%;
    margin: auto;
    opacity: 0;
    transition: opacity .4s;
}

.overview {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    transition: opacity .4s;
    opacity: 0;
}

.title {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
    transition: opacity .4s;
}

.title h3 {
    position: absolute;
    z-index: 10;
    font-size: 35px;
    font-weight: 300;
    font-style: italic;
}

.movie:hover .poster {
    scale: 1.05;
}

.movie:hover .overview,
.movie:hover .play,
.movie:hover .title {
    opacity: 1;
}